
<style type="text/css">
.welctext{
  color: #000;
  font-weight: 300;
  font-size: 18px;
  line-height: 36px;
  text-align: justify;
}

.abttitle{
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
}

</style>
<br>
<br>

<div class="container">
	<div class="row">
		<div class="col-lg-9">

<h3 class="abttitle">ABOUT US</h3>
<p class="welctext">BoomGH is founded by Martin Opare and joined by a partner, Dr. Bismark Obeng. Martin Opare  has more than 5 years of experience in the online/ Internet industry and business management whilst Dr. Bismark Obeng operates a private clinic. Through their expertise, they will be able to BOOM the operations of the BoomGH.com to attract more traffic within shortest possible time for users to benefit.</p>
<br>
<h4 class="abttitle">ABOUT THE APP</h4>  
<p class="welctext">Users that enrol on BoomGH online directory will be provided with a forum that they can use to BOOM their businesses worldwide and sit in the comfort of their homes and search for any business to provide a service or sell goods to. Each user will have an option either to search for a particular business or post his /her business profile with banners displaying insight of the business. 
BoomGh Website will use a high impact marketing campaign that will drive a tremendous amount of traffic to the website to help users BOOM their business These marketing strategies is outlined in the fifth section of the business plan.
</p>
</div>
</div>
</div>
<br>
<br>
