<style type="text/css">

.remedy{
  text-align: center;
  font-weight: 700;
  margin-bottom: 15px;
  font-family: 'Raleway', sans-serif;
}

</style>

<br>
<br>
<br>
<h1 class="remedy">New Poster</h1>

<%= render 'form', poster: @poster %>

<%= link_to 'Back', posters_path %>
