


<% if comment.user %>

    <div class="row">
                        <div class="col-md-12">
                            <%= comment.user.firstname if comment.user.firstname.present? %>
                            <span class="pull-right"><%= time_ago_in_words(comment.created_at) %> ago</span>
                            <p><%= comment.body %></p>
                        </div>
                    </div>
                   <hr>
<% end %>

   