<br>
<br>
<br>
<h4 style="text-align: center;"><strong><%= @user.email %></strong></h4>
<br>
<h2 style="text-align: center;">My Ads</h2>
<div class="container">
	<div class="row">
		 <%= render @posters %> 
	</div>
	</div>

<h2 style="text-align: center;">Favorite Ads</h2>
<div class="container">
	<div class="row">
		 <%= render @favorites %> 
	</div>
	</div>