<p class="list-group-item">
  
  <%= link_to category.name, category %> <strong>|</strong> <% if current_user.admin? %> <%= link_to 'delete', category, method: :delete, data: { confirm: 'Are you sure?' } %> <% end %>
</p>