<p class="list-group-item">
  
  <%= link_to category.name, category %><% if current_user.admin? %> <strong>|</strong> <%= link_to 'delete', category, method: :delete, data: { confirm: 'Are you sure?' } %> <% end %>
</p>