<p class="list-group-item">
  
  <%= link_to location.address, location %><% if current_user.admin? %> <strong>|</strong> <%= link_to 'delete', location, method: :delete, data: { confirm: 'Are you sure?' } %> <% end %>
</p>