<style type="text/css">

.bnatin{
	text-align: center;
}

.demfiknow{
	text-align: center;
}

</style>
<br>
<br>
<br>
<p id="notice"><%= notice %></p>

<h1 class="bnatin">
  <strong><%= @location.address %></strong>
</h1>
<p class="demfiknow"> Products in <%= @location.address %> </p>

<div class="container">

<div class="row adiseer">


<%= render partial: @location.posters %>



</div>

</div>

